/* Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import "./bloсks/base.css";
@import "./bloсks/header.css";
@import "./bloсks/home.css";
@import "./bloсks/about.css";
@import "./bloсks/skills.css";
@import "./bloсks/portfolio.css";
@import "./bloсks/contact.css";
@import "./bloсks/connect.css";
@import "./bloсks/copyright.css";

/* Making Responsive */

@media (max-width: 991px) {
    header {
        padding: 15px 80px;
    }
    section {
        padding: 50px 80px;
    }
    .about-text {
        max-width: 444px;
    }
    .about-img {
        width: 300px;
        height: 300px;
    }
    .skills-bars {
        max-width: 420px;
    }
    .skills-img {
        width: 400px;
        height: 300px;
        margin-top: 6rem;
    }
}

@media (max-width: 820px) {
     :root {
        --h1-font: 2rem;
        --h2-font: 1rem;
        --m-4: 1.4rem;
    }
    header {
        padding: 13px 65px;
    }
    section {
        padding: 50px 65px;
    }
    .about {
        flex-direction: column;
    }
    .about-img {
        width: 240px;
        height: 300px;
    }
    .p-box {
        flex: 1;
    }
    .skills-content {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: initial;
        color: #222435;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: var(--bg-color);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: 0.5s ease;
    }
    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .navbar a {
        margin: 1rem;
        padding: 1.5rem;
        display: block;
        background: #fff;
        border-left: 4px solid #222435;
    }
    .home {
        background-image: url('/images/background_1.jpg');
        justify-content: center;
    }
    .home-text {
        max-width: 410px;
    }
    .contact-content {
        flex-direction: column;
    }
}

@media (max-width: 670px) {
    header {
        padding: 10px 34px;
    }
    section {
        padding: 50px 34px;
    }
    .skills-img {
        width: 320px;
    }
}

@media (max-width: 360px) {
    .home-text {
        max-width: 225px;
    }
    .skills-img {
        width: 280px;
    }
    .about-text {
        margin-top: 1rem;
    }
}