* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #2c3e50;
}

body::-webkit-scrollbar-thumb {
    background: var(--primary);
}

:root {
    /* Colors */
    --bg-color: #bffafa;
    --primary: #01a29c;
    --hover: #008170;
    /* Fonts */
    --h1-font: 2.6rem;
    --h2-font: 1.6rem;
    --p-font: 1.2rem;
    --spacing: 1px;
    /* Margins */
    --m-1: 0.4rem;
    --m-4: 2rem;
}

html {
    background: #1c2834;
    color: #fff;
}

a {
    color: #bffafa;
}

section {
    padding: 50px 100px;
}

.home {
    background-image: url('/images/background_1.jpg');
}