/* Portfolio */

.portfolio-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.p-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: auto;
    background: #2c3e50;
    margin: 20px;
    padding: 40px;
    text-align: center;
}

.p-box:hover {
    background: var(--primary);
    transition: 0.5s ease;
}

.p-img {
    width: 180px;
    height: 180px;
}

.p-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid var(--primary);
}

.p-box h2 {
    font-size: var(--h2-font);
    font-weight: 600;
    margin: 10px 0;
}

.p-box p {
    font-size: var(--p-font);
    font-weight: 400;
}